{% extends "layouts/base.html" %}
{% set active_page = "classes" %}
{% import 'macros.html' as macros %}


{% block body %}

    <div class="container w-75 mt-4 mb-4">
        <h1>Add A Class</h1>
        <input type="text" name="name" id="newName" placeholder="Class Title?">
        <input type="text" name="classInstructor" id="classInstructor" placeholder="Name of Class Instructor?">
        <input type="number" name="classSize" id="classSize" placeholder="Max Class Size?">
        <input type="text" name="classDescription" id="classDescription" placeholder="Brief Course Description">
        <input type="button" value="Add Class" name="Add Class" id="addClassSubmit">
        <h2>View Current Classes</h2>
        <h4>{Table with list of classes here}</h4>
        {{ macros.table(data.table.caption, data.table.headers, data.table.columns, data.table.id_col_name, data.table.rows, "Classes") }}

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/client.js') }}">
    </script>

    <script type="text/javascript">
        function deleteClass(rowId) {
            deleteRowTemplate("{{ url_for('delete_row') }}", "Classes", rowId)
        };

        $('.delete-button').each((i, obj) => {
            console.log(obj.dataset.rowid)
            obj.addEventListener("click", (e) => {
                deleteClass(obj.dataset.rowid);
            });
        });
    </script>
{% endblock body %}