{% extends "layouts/base.html" %}
{% set active_page = "classes" %}
{% import 'macros.html' as macros %}


{% block body %}

    <div class="container w-75 mt-4 mb-4">
        <h3>Add A Class</h3>

        <div class="form-group">
            <label for="newName">Class Title</label>
            <br><input type="text" name="name" id="newName" class="form-control w-50">

            <br><label for="classInstructor">Class Instructor</label>
            <select class="form-control custom-select custom-select-sm w-25" id="classInstructor">
                {% for instructor in data.instructornames %}
                    <option value="{{ instructor[0] }}">{{ instructor[1] }}</option>
                {% endfor %}
            </select>

            <br><label for="classSize">Max Class Size</label>
            <input type="number" name="classSize" id="classSize" class="form-control w-25">

            <br><label for="classDescription">Brief Course Description</label>
            <input type="text" name="classDescription" id="classDescription" class="form-control w-75">

            <br><input type="button" value="Add Class" name="Add Class" id="addClassSubmit"
                       class="btn btn-primary">

        </div>

        <p></p>
        <h3>View Current Classes</h3>
        {{ macros.table(data.table.caption, data.table.headers, data.table.columns, data.table.id_col_name, data.table.rows, "Classes") }}

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/client.js') }}">
    </script>

    <script type="text/javascript">
        function deleteClass(rowId) {
            deleteRowTemplate("{{ url_for('delete_row') }}", "Classes", rowId)
        };

        function addClass(data) {
            addRowTemplate("{{ url_for('insert_row') }}", "Classes", data)
        }

        $('.delete-button').each((i, obj) => {
            console.log(obj.dataset.rowid)
            obj.addEventListener("click", (e) => {
                deleteClass(obj.dataset.rowid);
            });
        });

        $('#addClassSubmit').on('click', (e) => {
            let data = {
                'name': $('#newName').val(),
                'instructor': $('#classInstructor').val(),
                'size': $('#classSize').val(),
                'description': $('#classDescription').val(),
            };

            addClass(data);
        });
    </script>
{% endblock body %}