{% extends "oldbase.html" %}

{% macro inputMacro(name, value='', placeholder='', type='text', size=20, label=None) -%}
    <div class="form-group">
        {% if label %}
            <label for="{{ "new" ~ name }}">{{ label }}</label>
        {% endif %}
        <input type="{{ type }}" name="{{ name }}" value="{{ value }}" size="{{ size }}" id="{{ "new" ~ name }}"
               placeholder="{{ placeholder }}">
    </div>

{%- endmacro %}

{% block heading %}

    <h1>{{ data.title }}</h1>

{% endblock %}

{% block addForm %}
    <form>
        {% for input in data.inputs %}
            {{ inputMacro(**input) }}
        {% endfor %}
    </form>
{% endblock %}

{% block table %}
    <table>
        <caption>{{ data.table.caption }}</caption>
        <tr>
            {% for header in data.table.headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data.table.rows %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}