{% extends "layouts/base.html" %}
{% set active_page = "enrollments" %}
{% import 'macros.html' as macros %}


{% block body %}

    <div class="container w-75 mt-4 mb-4">
        <h3>Enroll Student in a Class</h3>
        <p>Enter student information to enroll them in a class. <br>Please note that we can only
            enroll students currently attending Hogwarts.</p>
        <div class="form-group">

            <br><label for="studentID">Choose the Student</label>
            <select class="form-control custom-select custom-select-sm w-25" id="studentID">
                {% for student in data.studentnames %}
                    <option value="{{ student[0] }}">{{ student[1] }}</option>
                {% endfor %}
            </select>

            <br><label for="classID">Choose the Class</label>
            <select class="form-control custom-select custom-select-sm w-25" id="classID">
                {% for class in data.classnames %}
                    <option value="{{ class[0] }}">{{ class[1] }}</option>
                {% endfor %}
            </select>


            <fieldset class="form-group">
                <div class="form-check">
                    <br><label for="finished" class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="finished" id="finished">
                    Has the student completed this course? Check this box if so.
                </label>
                </div>
            </fieldset>

            <label for="rating">Difficulty Rating (1 to 10, or can be left blank)</label>
            <br><input type="number" min="1" max="10" name="rating" id="rating" placeholder="Rating"
                       class="form-control w-25">

            <br><label for="year">Student Year (1 to 7)</label>
            <br><input type="number" min="1" max="7" name="year" id="year" placeholder="Year" class="form-control w-25">

            <br><label for="term">Term Enrolled</label>
            <br><input type="number" min="1" max="3" name="term" id="term" class="form-control w-25" placeholder="Term">
            <small id="termHelp" class="form-text text-muted">KEY - &nbsp; 1. Fall &nbsp; 2. Winter &nbsp; 3.
                Spring</small>

            <br><input type="button" value="Add Enrollment" name="Add Enrollment" id="enrollmentSubmit"
                       class="btn btn-primary">
        </div>

        <p></p>
        <br>
        <h3>View Current Enrollments</h3>
        {{ macros.table(data.table.caption, data.table.headers, data.table.columns, data.table.id_col_name, data.table.rows, "StudentClassEnrollments") }}

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/client.js') }}">
    </script>

    <script type="text/javascript">
        function deleteEnrollment(rowId) {
            deleteRowTemplate("{{ url_for('delete_row') }}", "StudentClassEnrollments", rowId)
        };

        function addEnrollment(data) {
            addRowTemplate("{{ url_for('insert_row') }}", "StudentClassEnrollments", data)
        }

        $('.delete-button').each((i, obj) => {
            console.log(obj.dataset.rowid)
            obj.addEventListener("click", (e) => {
                deleteEnrollment(obj.dataset.rowid);
            });
        });

        $('#enrollmentSubmit').on('click', (e) => {
            let data = {
                'student': $('#studentID').val(),
                'class': $('#classID').val(),
                'finished': $('#finished').is(':checked'),
                'rating': $('#rating').val(),
                'year': $('#year').val(),
                'term': $('#term').val()
            };

            addEnrollment(data);
        });
    </script>
{% endblock body %}