{% extends "layouts/base.html" %}
{% set active_page = "houses" %}
{% import 'macros.html' as macros %}


{#Houses: records the details of the Hogwarts Houses#}
{#- houseID: INT, PK, not NULL, UNIQUE, auto_increment#}
{#- name: VARCHAR, not NULL#}
{#- founder: VARCHAR, not NULL#}
{#- animal: VARCHAR, not NULL#}
{#- colors: VARCHAR, not NULL#}
{#- points: INT, not NULL#}

{% block body %}

    <div class="container w-75 mt-4 mb-4">

        <h3>Add A House</h3>

        <div class="form-group">
            <label for="newHouseName">Name of House</label>
            <br><input type="text" name="houseName" id="newHouseName" class="form-control w-50">

            <br><label for="newHouseFounder">House Founder</label>
            <br><input type="text" name="houseFounder" id="newHouseFounder" class="form-control w-50">

            <br><label for="houseAnimal">House Mascot/Animal</label>
            <br><input type="text" name="houseAnimal" id="houseAnimal" class="form-control w-50">

            <br><label for="houseColor">House Colors</label>
            <br><input type="text" name="houseColor" id="houseColor" class="form-control w-50">

            <br><label for="housePoints">House Points</label>
            <br><input type="number" name="housePoints" id="housePoints" class="form-control w-25" min="0">

            <br><input type="button" value="Add House" name="Add House" id="addHouseSubmit" class="btn btn-primary">

        </div>


        <p></p>
        <h3>View All Houses</h3>

        {{ macros.table(data.table.caption, data.table.headers, data.table.columns, data.table.id_col_name, data.table.rows, "Houses") }}

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/client.js') }}">
    </script>

    <script type="text/javascript">
        function deleteHouse(rowId) {
            deleteRowTemplate("{{ url_for('delete_row') }}", "Houses", rowId)
        }

        function addHouse(data) {
            addRowTemplate("{{ url_for('insert_row') }}", "Houses", data)
        }

        function updateHouse(data) {
            updateRowTemplate("{{ url_for('update_row') }}", "Houses", data)
        }

        $('.delete-button').each((i, obj) => {
            console.log(obj.dataset.rowid)
            obj.addEventListener("click", (e) => {
                deleteHouse(obj.dataset.rowid);
            });
        });

        $('#addHouseSubmit').on('click', (e) => {
            let data = {
                'name': $('#newHouseName').val(),
                'founder': $('#newHouseFounder').val(),
                'animal': $('#houseAnimal').val(),
                'colors': $('#houseColor').val(),
                'points': $('#housePoints').val()
            };
            addHouse(data);
        });

        $('.edit-button').each((i, obj) => {
            obj.addEventListener("click", (e) => {
                console.log('edit button clicked for house' + obj.dataset.rowid)
                // grab the current table row data to fill the modal with
                let $row = $('#' + 'house' + obj.dataset.rowid);
                let rowInfo = []
                let $tds = $row.find("td");
                $.each($tds, function () {
                    rowInfo.push($(this).text());
                });
                rowInfo.splice(-1)

                console.log(rowInfo)
                let houseNameInput = document.querySelector('#editHouseNameInput')
                houseNameInput.value = rowInfo[0]


            }); // event listener tag
        }); // each tag

        // update button within the modal
        $('#updateSubmit').on('click', (e) => {
            console.log('update button clicked')
            // update house will get called here
            $('#editModal').modal('hide');
        });

    </script>
{% endblock body %}