{% extends "layouts/base.html" %}
{% set active_page = "houses" %}
{% import 'macros.html' as macros %}


{#Houses: records the details of the Hogwarts Houses#}
{#- houseID: INT, PK, not NULL, UNIQUE, auto_increment#}
{#- name: VARCHAR, not NULL#}
{#- founder: VARCHAR, not NULL#}
{#- animal: VARCHAR, not NULL#}
{#- colors: VARCHAR, not NULL#}
{#- points: INT, not NULL#}

{% block body %}

    <div class="container">

        <h1>Add A House</h1>
        <input type="text" name="houseName" id="newHouseName" placeholder="Name of House">
        <input type="text" name="houseFounder" id="newHouseFounder" placeholder="House Founder">
        <input type="text" name="houseAnimal" id="houseAnimal" placeholder="House mascot/animal">
        <input type="text" name="houseColor" id="houseColor" placeholder="House colors">
        <input type="number" name="housePoints" id="housePoints" placeholder="House Points">
        <input type="button" value="Add House" name="Add House" id="addHouseSubmit">

        <h2>View All Houses</h2>
        <h4>{Table with list of Houses here - should only be 4}</h4>
        {{ macros.table(data.table.caption, data.table.headers, data.table.columns, data.table.id_col_name, data.table.rows, "Houses") }}

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/client.js') }}">
    </script>

    <script type="text/javascript">
        function deleteHouse(rowId) {
            deleteRowTemplate("{{ url_for('delete_row') }}", "Houses", rowId)
        };

        $('.delete-button').each((i, obj) => {
            console.log(obj.dataset.rowid)
            obj.addEventListener("click", (e) => {
                deleteHouse(obj.dataset.rowid);
            });
        });
    </script>
{% endblock body %}