{% extends "layouts/base.html" %}
{% set active_page = "instructors" %}
{% import 'macros.html' as macros %}

{% block body %}

    <div class="container">
        <h1>Add An Instructor</h1>
        <input type="text" name="name" id="newName" placeholder="Name of Instructor?">
        <select class="form-control" id="newHouseHame">
            {% for house in data.housenames %}
                <option value="{{ house[0] }}">{{ house[1] }}</option>
            {% endfor %}
        </select>
        <input type="text" name="patronus" id="newPatronus" placeholder="Type of patronus?">
        <input type="text" name="wandtype" id="newWandtype" placeholder="Type of wand?">
        <input type="button" value="Add Instructor" name="Add Instructor" id="addInstructorSubmit">
        <h2>View Current instructors</h2>
        {{ macros.table(data.table.caption, data.table.headers, data.table.columns, data.table.id_col_name, data.table.rows, "Instructors") }}

    </div>
{% endblock body %}