{% macro input(name, value='', placeholder='', type='text', size=20, label=None) -%}
    <div class="form-group">
        {% if label %}
            <label for="{{ "new" ~ name }}">{{ label }}</label>
        {% endif %}
        <input type="{{ type }}" name="{{ name }}" value="{{ value }}" size="{{ size }}" id="{{ "new" ~ name }}"
               placeholder="{{ placeholder }}">
    </div>

{%- endmacro %}




{% macro table(caption, headers, rows) %}
    <table class="data-table">
        <caption>{{ caption }}</caption>
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
            <th>Edit Data</th>
            <th>Delete Data</th>
        </tr>
        {% for row in rows %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
                <td><i class="far fa-edit"></i></td>
                <td><i class="far fa-trash-alt"></i></td>
            </tr>
        {% endfor %}
    </table>
{%- endmacro %}