{% macro input(name, value='', placeholder='', type='text', size=20, label=None) -%}
    <div class="form-group">
        {% if label %}
            <label for="{{ "new" ~ name }}">{{ label }}</label>
        {% endif %}
        <input type="{{ type }}" name="{{ name }}" value="{{ value }}" size="{{ size }}" id="{{ "new" ~ name }}"
               placeholder="{{ placeholder }}">
    </div>

{%- endmacro %}




{% macro table(caption, headers, columns, id_col_name, rows, sqlEntityName) %}
    <table class="data-table table table-hover" data-sqlEntityName="{{ sqlEntityName }}">
        <caption>{{ caption }}</caption>
        <thead>
        <tr>
            {% for header in headers %}
                <th scope="col">{{ header }}</th>
            {% endfor %}

            <th>Edit Data</th>
            {% if sqlEntityName != "Houses" %}
                <th>Delete Data</th>
            {% endif %}
        </tr>
        </thead>

        {% for row in rows %}
            <tr data-rowId="{{ row[id_col_name] }}"
                 {% if sqlEntityName == "Houses" %}
                    id="house{{ row[id_col_name] }}"
                {% endif %}
            >
                {% for col_name in columns %}
                    <td>{{ row[col_name] }}</td>
                {% endfor %}

                <td>
                    <button class="edit-button btn btn-info" data-rowid="{{ row[id_col_name] }}"
                             data-toggle="modal" data-target="#editModal">
                        <i class="far fa-edit"></i>
                    </button>
                </td>
                {% if sqlEntityName != "Houses" %}
                    <td>
                        <button class="delete-button btn btn-danger" data-rowId="{{ row[id_col_name] }}">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    {% if sqlEntityName == "Houses" %}
        <!-- Edit Houses Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit House Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editHouseForm">

                        <label for="editHouseNameInput">House Name</label><br>
                        <input type="text" id="editHouseNameInput" name="editHouseName" class="form-control">

                        <p><label for="editHouseFounderNameInput">Founder Name</label><br>
                            <input type="text" id="editHouseFounderNameInput" name="editHouseFounderName" class="form-control"></p>

                        <p><label for="editHouseAnimalInput">House Animal</label><Br>
                            <input type="text" id="editHouseAnimalInput" name="editHouseAnimal" class="form-control"></p>

                        <p><label for="editHouseColorsInput">House Colors</label><br>
                            <input type="text" id="editHouseColorsInput" name="editHouseColors" class="form-control"></p>

                        <p><label for="editHousePointsInput">Points</label><br>
                        <input type="number" id="editHousePointsInput" name="editHouseColors" class="form-control"
                               min="0"></p>


                    </form>
                </div>
                <!-- Buttons at bottom of modal -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="updateSubmit">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    {% endif %}


{%- endmacro %}