{% macro input(name, value='', placeholder='', type='text', size=20, label=None) -%}
    <div class="form-group">
        {% if label %}
            <label for="{{ "new" ~ name }}">{{ label }}</label>
        {% endif %}
        <input type="{{ type }}" name="{{ name }}" value="{{ value }}" size="{{ size }}" id="{{ "new" ~ name }}"
               placeholder="{{ placeholder }}">
    </div>

{%- endmacro %}




{% macro table(caption, headers, columns, id_col_name, rows, sqlEntityName) %}
    <table class="data-table table table-hover" data-sqlEntityName="{{ sqlEntityName }}">
        <caption>{{ caption }}</caption>
        <thead>
        <tr>
            {% for header in headers %}
                <th scope="col">{{ header }}</th>
            {% endfor %}
            <th>Edit Data</th>
            <th>Delete Data</th>
        </tr>
        </thead>

        {% for row in rows %}
            <tr data-rowId="{{ row[id_col_name] }}">
                {% for col_name in columns %}
                    <td>{{ row[col_name] }}</td>
                {% endfor %}
                <td>
                    <button class="edit-button btn btn-info" data-rowid="{{ row[id_col_name] }}">
                        <i class="far fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button class="delete-button btn btn-danger" data-rowId="{{ row[id_col_name] }}">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
{%- endmacro %}