{% extends "layouts/base.html" %}
{% set active_page = "students" %}
{% import 'macros.html' as macros %}

{% block body %}

    <div class="container w-75 mt-2">
        <h3>Add a Student</h3>
        <div class="form-group">
            <label for="newName">Name of Student</label>
            <input type="text" name="name" id="newName" class="form-control w-50">

            <br><label for="newHouseName">Assigned House </label>
            <select class="form-control custom-select custom-select-sm w-25" id="newHouseName">
                {% for house in data.housenames %}
                    <option value="{{ house[0] }}">{{ house[1] }}</option>
                {% endfor %}
            </select>

            <br><label for="newYear">Student Year</label>
            <input type="number" name="year" id="newYear" class="form-control w-25">


            <fieldset class="form-group">
                <div class="form-check">
                    <br><label for="newPrefect" class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="prefect" id="newPrefect">
                        Is student a prefect? Check this box if so.
                    </label>
                </div>


                <br><label for="newPatronus">Type of Patronus?</label>
                <input type="text" name="patronus" id="newPatronus" class="form-control w-50">

                <br><label for="newWandType">Type of wand?</label>
                <input type="text" name="wandtype" id="newWandType" class="form-control w-50">
                <br><input type="button" value="Add Student" name="Add Student" id="addStudentSubmit"
                           class="btn btn-primary">
        </div>

        <h3>Search for a Student</h3>
        <input type="text" placeholder="Search by student name..." size="50">
        <p></p>
        {{ macros.table(data.table.caption, data.table.headers, data.table.columns, data.table.id_col_name, data.table.rows, "Students") }}


    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/client.js') }}">
    </script>

    <script type="text/javascript">
        function deleteStudent(rowId) {
            deleteRowTemplate("{{ url_for('delete_row') }}", "Students", rowId)
        }

        $('.delete-button').each((i, obj) => {
            console.log(obj.dataset.rowid)
            obj.addEventListener("click", (e) => {
                deleteStudent(obj.dataset.rowid);
            });
        });
    </script>

{% endblock body %}